*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.137);
}

.container{
    padding: 40px 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.manager{
    text-align: center;
    width: 1000px;
    max-width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.062);
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.manager header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.manager header img{
    width: 200px;
    height: 150px;
    max-width: 100%;
}
.manager header h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
}
.manager header p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    margin: 15px 0;
    width: 80%;
    text-align: center;
}
.manager main{
    width: 90%;
}
.manager main input{
    padding: 10px;
    width: 80%;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.459);
    border-radius: 5px;
}
.manager main input:focus{
    outline: none;
}
.manager main .btn-container{
    margin: 15px 0;
}
.manager main .btn-container button{
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid rgb(36, 135, 248);
    border-radius: 5px;
    background-color: rgb(36, 135, 248);
    color: #fff;
    transition: 0.2s ease-in;
}
.manager main .btn-container button:hover{
    background-color: rgb(11, 89, 179);
}
.output{
    display: flex;
    justify-content: center;
}
.result{
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.356);
    width: 80%;
    border-radius: 5px;
}

table{
    width: 80%;
}
table th{
     text-align: center;
     border: 1px solid rgba(0, 0, 0, 0.459);
     padding: 10px;
     width: 50px;
     height: 40px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 0.7rem;
     border-radius: 3px;
}
table td{
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.459);
     width: 50px;
     height: 40px;
     padding: 10px;
     border-radius: 3px;
}
.output-note{
    display: flex;
    margin: 10px 0;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}
footer ul li{
    list-style-type: none;
    display: inline-block;
    font-size: 1.4rem;
    margin: 5px;
}